<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Dipendente</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Stili personalizzati -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='resources/ProWork.png') }}" alt="Logo" style="width: 200px;">
        <a  href="{{ url_for('logout') }}" class="logout-link">
            <button class="logout-button">
                <img src="{{ url_for('static', filename='resources/icons/logout-icon.png') }}" alt="Logout Icon" class="logout-icon">
            </button>
        </a>
    </div>

    <div id="form-container" class="container-fluid col-lg-8 col-10 mb-5">
        <h3 class="text-center" style="color: #20b2aa;">Scrivi una recensione per<br> <strong>{{ azienda[1] }}</strong></h3>
        <img src="{{ url_for('static', filename='resources/' + (azienda[2] if azienda[2] else 'default-img.webp')) }}" class="azienda_img_dip d-flex justify-content-center">
        
        <form id="recensioneForm" action="{{ url_for('dipendente_menu') }}" method="POST" class="col-lg-8 col-md-10 col-sm-12 mx-auto">
            <div class="mb-3">
                <label for="recensione" class="form-label" style="color: #1e9e94;">La tua recensione</label>
                <textarea class="form-control" id="recensione" name="recensione" rows="4" placeholder="Scrivi la tua recensione..." required></textarea>
            </div>

            <!-- Salario -->
            <div class="mb-3">
                <label for="salario" class="form-label" style="color: #1e9e94;">Salario</label>
                <select class="form-select" id="salario" name="salario" required>
                    <option value="" disabled selected>Seleziona un'opzione</option>
                    <option value="1">1 - Pessimo</option>
                    <option value="2">2 - Scarso</option>
                    <option value="3">3 - Nella media</option>
                    <option value="4">4 - Buono</option>
                    <option value="5">5 - Eccellente</option>
                </select>
            </div>
            <!-- Orari flessibili -->
            <div class="mb-3">
                <label for="orari_flessibili" class="form-label" style="color: #1e9e94;">Orari flessibili</label>
                <select class="form-select" id="orari_flessibili" name="orari_flessibili" required>
                    <option value="" disabled selected>Seleziona un'opzione</option>
                    <option value="1">1 - Pessimo</option>
                    <option value="2">2 - Scarso</option>
                    <option value="3">3 - Nella media</option>
                    <option value="4">4 - Buono</option>
                    <option value="5">5 - Eccellente</option>
                </select>
            </div>
            <!-- Benefit aziendali -->
            <div class="mb-3">
                <label for="benefit-aziendali" class="form-label" style="color: #1e9e94;">Benefit aziendali</label>
                <select class="form-select" id="benefit-aziendali" name="benefit-aziendali" required>
                    <option value="" disabled selected>Seleziona un'opzione</option>
                    <option value="1">1 - Pessimo</option>
                    <option value="2">2 - Scarso</option>
                    <option value="3">3 - Nella media</option>
                    <option value="4">4 - Buono</option>
                    <option value="5">5 - Eccellente</option>
                </select>
            </div>
            <!-- Sicurezza sul lavoro -->
            <div class="mb-3">
                <label for="sicurezza_sul_lavoro" class="form-label" style="color: #1e9e94;">Sicurezza sul lavoro</label>
                <select class="form-select" id="sicurezza_sul_lavoro" name="sicurezza_sul_lavoro" required>
                    <option value="" disabled selected>Seleziona un'opzione</option>
                    <option value="1">1 - Pessimo</option>
                    <option value="2">2 - Scarso</option>
                    <option value="3">3 - Nella media</option>
                    <option value="4">4 - Buono</option>
                    <option value="5">5 - Eccellente</option>
                </select>
            </div>
            <!-- Benessere mentale -->
            <div class="mb-3">
                <label for="benessere_mentale" class="form-label" style="color: #1e9e94;">Benessere mentale</label>
                <select class="form-select" id="benessere_mentale" name="benessere_mentale" required>
                    <option value="" disabled selected>Seleziona un'opzione</option>
                    <option value="1">1 - Pessimo</option>
                    <option value="2">2 - Scarso</option>
                    <option value="3">3 - Nella media</option>
                    <option value="4">4 - Buono</option>
                    <option value="5">5 - Eccellente</option>
                </select>
            </div>
            <!-- Rapporti interpersonali -->
            <div class="mb-3">
                <label for="rapporti-interpersonali" class="form-label" style="color: #1e9e94;">Rapporti interpersonali</label>
                <select class="form-select" id="rapporti-interpersonali" name="rapporti-interpersonali" required>
                    <option value="" disabled selected>Seleziona un'opzione</option>
                    <option value="1">1 - Pessimo</option>
                    <option value="2">2 - Scarso</option>
                    <option value="3">3 - Nella media</option>
                    <option value="4">4 - Buono</option>
                    <option value="5">5 - Eccellente</option>
                </select>
            </div>
            <!-- Crescita personale -->
            <div class="mb-3">
                <label for="crescita_personale" class="form-label" style="color: #1e9e94;">Crescita personale</label>
                <select class="form-select" id="crescita_personale" name="crescita_personale" required>
                    <option value="" disabled selected>Seleziona un'opzione</option>
                    <option value="1">1 - Pessimo</option>
                    <option value="2">2 - Scarso</option>
                    <option value="3">3 - Nella media</option>
                    <option value="4">4 - Buono</option>
                    <option value="5">5 - Eccellente</option>
                </select>
            </div>

            <button type="submit" class="btn col-md-4 offset-md-8 col-sm-7 offset-sm-5 col-12" style="background-color: #20b2aa; color: white; font-size: 1.1rem;"><strong>INVIA RECENSIONE</strong></button>
        </form>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="col-lg-8 col-10 mx-auto">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <!-- Contenitore nascosto con messaggio di ringraziamento -->
    <div id="thank-you-container" class="container-fluid col-lg-8 col-10 mb-5 text-center" style="display: none;">
        <h2 style="color: #20b2aa;">Grazie per la tua recensione!</h2>
        <p>La tua recensione è stata inviata con successo.</p>
        <button class="btn col-md-4 col-12 mt-3" style="background-color: #20b2aa; color: white;" onclick="window.location.href='{{ url_for('azienda_details', azienda_id=azienda[0]) }}';">
            <strong>Vai alla pagina dell'azienda</strong>
        </button>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS personalizzato -->
    <script>
        // Questo script nasconde il form e mostra il messaggio di ringraziamento
        document.getElementById('recensioneForm').addEventListener('submit', function (e) {
            e.preventDefault();
            document.getElementById('form-container').style.display = 'none';
            document.getElementById('thank-you-container').style.display = 'block';
        });
    </script>
</body>
</html>
