<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Stili personalizzati -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="logo-container col-12">
        <img src="{{ url_for('static', filename='resources/ProWork.png') }}" alt="Logo" style="width: 300px;">
    </div>
    <div class="container col-12">
        <div class="register-container">
            <h2><strong>REGISTRATI</strong></h2>

            <!-- Se ci sono messaggi flash, visualizzali qui -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for category, message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <form action="{{ url_for('register') }}" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="eta" class="form-label">Età</label>
                    <input type="text" class="form-control" id="eta" name="eta" required min="18" max="120">
                </div>
                <button type="submit" class="btn btn-primary w-100">REGISTRATI</button>

                <!-- Frase per l'accesso con link -->
                <div class="login-link">
                    <p style="margin: 0 !important;">Hai già un account? <a href="{{ url_for('home') }}" class="btn btn-secondary w-100">ACCEDI</a></p>
                </div>
            </form>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
